/* Fuentes */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700'); */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

/* Reglas principales */
.btn-azul {
  background-color: rgb(34,121,180);
}

.btn-azul:hover {
  background-color: rgb(34,121,180);
}

.bc-white {
  border-color: white;
}

.txt-azul {
  color: rgb(34,121,180);
}

.txt-blanco {
  color: #fff;
}

/* Diseño */
body {
  font-family: 'PT Sans', sans-serif;
}

.navBar {
  /* background-color: yellow; */
}

.slider {
  margin-top: 60px;
  background-color: rgb(34,121,180);
}

.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	/* background-color: rgba(85, 172, 238, 0.9); */
  background-color: #000;
	cursor: pointer;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.overlay:hover {
	text-decoration: none;
}

.overlay i {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 18px;
	line-height: 1x;
	color: #ffffff;
	margin-top: -8px;
	margin-left: -8px;
	text-align: center;
}

.overlay-container:hover .overlay {
	opacity: 0.3;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.features-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.features-box:hover {
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5);
}

/* xs */
@media (max-width: 575.98px) {
  body {

  }

  .slider {
    padding: 54.188px 0;
  }

  .titleSlider {
    font-size: 30px;
    line-height: 40px;
  }

  .btn-web {
    border-radius: 15px;
  }

  .home-demos {
    padding: 50px 0px;
  }

  .titleDemos {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .descDemos {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
  }

  .sectionDemos {
    margin-bottom: 30px;
  }

  .otherDemos {
    padding: 50px 0 30px 0;
    background-color: rgb(245, 246, 246);
  }

  .features {
    padding: 50px 0;
    margin: 0px 15px;
  }

  .features-box {
    padding: 75px 0px;
    margin-bottom: 30px;
  }

  .image-features {
    margin-bottom: 15px;
  }

  .help {
    height: 220px;
    padding: 50px 0;
  }

  .help h3 {
    font-size: 30px;
  }

  .helpStrong {
    font-weight: bold;
  }

  .help a {
    text-align: center;
  }
}

/* sm */
@media (min-width: 576px) and (max-width: 767.98px){
  body {
    background-color: lightgray;
  }

  .slider {
    padding: 75.297px 0px;
  }

  .titleSlider {
    font-size: 30px;
    line-height: 40px;
  }

  .btn-web {
    border-radius: 15px;
  }

  .home-demos {
    padding: 50px 0px;
  }

  .titleDemos {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .descDemos {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
  }

  .sectionDemos {
    margin-bottom: 30px;
  }

  .otherDemos {
    padding: 50px 0 30px 0;
    background-color: rgb(245, 246, 246);
  }

  .features {
    padding: 50px 0;
    margin: 0px 15px;
  }

  .features-box {
    padding: 75px 0px;
    margin: 0px auto 30px auto;
  }

  .image-features {
    margin-bottom: 15px;
  }

  .help {
    height: 220px;
    padding: 50px 0;
  }

  .help h3 {
    font-size: 30px;
  }

  .helpStrong {
    font-weight: bold;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 991.98px){
  body {
    background-color: yellow;
  }

  .slider {
    padding: 97.500px 0px;
  }

  .titleSlider {
    font-size: 60px;
    font-weight: 900;
    line-height: 90px;
    text-align: left !important;
  }

  .btn-web {
    padding: 10px;
    border-radius: 20px;
  }

  .home-demos {
    padding: 70px 0px;
  }

  .titleDemos {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .descDemos {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
  }

  .sectionDemos {
    margin-bottom: 30px;
  }

  .otherDemos {
    padding: 70px 0 30px 0;
    background-color: rgb(245, 246, 246);
  }

  .features {
    padding: 50px 0;
    margin: 0px 15px;
  }

  .features-box {
    padding: 75px 0px;
    margin: 0px auto 30px auto;
  }

  .image-features {
    margin-bottom: 15px;
  }

  .help {
    height: 245px;
    padding: 70px 0;
  }

  .help h3, .help p {
    text-align: left !important;
  }

  .help h3 {
    font-size: 50px;
  }

  .helpStrong {
    font-weight: bold;
  }

  .help a {
    font-size: 18px;
  }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199.98px){
  body {
    background-color: lightblue;
  }

  .slider {
    padding: 118.391px 0px;
  }

  .titleSlider {
    font-size: 60px;
    font-weight: 900;
    line-height: 90px;
    text-align: left !important;
  }

  .btn-web {
    padding: 10px;
    border-radius: 20px;
  }

  .home-demos {
    padding: 70px 0px;
  }

  .titleDemos {
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 20px;
  }

  .descDemos {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
  }

  .sectionDemos {
    margin-bottom: 30px;
  }

  .otherDemos {
    padding: 70px 0 30px 0;
    background-color: rgb(245, 246, 246);
  }

  .features {
    padding: 70px 0;
    margin: 0px 15px;
  }

  .descFeatures {
    margin-bottom: 70px;
  }

  .features-box {
    padding: 75px 0px;
    margin-bottom: 30px;
  }

  .image-features {
    margin-bottom: 15px;
  }

  .help {
    height: 245px;
    padding: 70px 0;
  }

  .help h3, .help p {
    text-align: left !important;
  }

  .help h3 {
    font-size: 50px;
  }

  .helpStrong {
    font-weight: bold;
  }

  .help a {
    font-size: 18px;
  }
}

/* xl */
@media (min-width: 1200px) {
  body {

  }

  .imageSlider {
    max-width: 100%;
    height: 500px;
  }

  .slider {
    padding: 131.594px 0px;
  }

  .titleSlider {
    /*text-align: center !important;*/
    text-align: left !important;
    font-size: 60px;
    font-weight: 900;
    line-height: 90px;
  }

  .btn-web {
    padding: 12px;
    border-radius: 20px;
  }

  .home-demos {
    padding: 70px 0px;
  }

  .titleDemos {
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 20px;
  }

  .descDemos {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
  }

  .sectionDemos {
    margin-bottom: 30px;
  }

  .otherDemos {
    padding: 70px 0 30px 0;
    background-color: rgb(245, 246, 246);
  }

  .features {
    padding: 70px 0;
    margin: 0px 15px;
  }

  .descFeatures {
    margin-bottom: 70px;
  }

  .features-box {
    padding: 75px 0px;
    margin-bottom: 30px;
  }

  .image-features {
    margin-bottom: 15px;
  }

  .help {
    height: 245px;
    padding: 70px 0;
  }

  .help h3, .help p {
    text-align: left !important;
  }

  .help h3 {
    font-size: 50px;
  }

  .helpStrong {
    font-weight: bold;
  }

  .help a {
    font-size: 18px;
  }
}
